.btn-bordered {
	background-color: rgb(246 213 238);
	;
	color: white;

	font-weight: 600;
	outline: none;
	appearance: none;
	border: none;
	box-sizing: border-box;
	// border: 2px solid var(--brand-color);
	padding: 12px 50px;
	z-index: 2;
	position: relative;
	cursor: pointer;
	transition: all .2s ease-in-out;
	letter-spacing: .8px;

	animation: blink 1.8s infinite linear;

	&:hover {
		background-color: rgba(var(--brand-color-rgb) / 1);

		transition: all .2s ease-in-out;
	}
}

@keyframes blink {

	0%,
	100% {
		background-color: var(--background);
		box-shadow:
			0 0 5px rgba(var(--brand-two-color-rgb) / 0.5),
			0 10px 25px rgba(var(--brand-two-color-rgb) / 0.5),
			0 0 10px rgba(var(--brand-two-color-rgb) / 0.5),
			0 0 50px rgba(var(--brand-two-color-rgb) / 0.5);
	}

	50% {
		background-color: rgba(var(--brand-two-color-rgb) / 1);
	}

	25%,
	75% {
		background-color: rgba(var(--brand-color-rgb) / 0.3);

		box-shadow:
			0 0 5px rgba(var(--brand-color-rgb) / 0.3),
			0 10px 25px rgba(var(--brand-color-rgb) / 0.3),
			0 0 50px rgba(var(--brand-color-rgb) / 0.3),
			0 0 50px rgba(var(--brand-color-rgb) / 0.3);
	}
}