.btn-bordered {
	background-color: rgb(var(--brand-two-color-rgb)/.5);

	color: white;

	font-weight: 600;
	outline: none;
	appearance: none;
	border: none;
	padding: 12px 50px;
	z-index: 2;

	cursor: pointer;
	transition: background-color .3s ease-in-out;
	letter-spacing: .8px;
	width: 100%;

	&:hover {
		background-color: rgb(var(--brand-color-rgb)/.9);

		transition: background-color .3s ease-in-out;
	}
}

.btn-container {
	position: relative;
}

.btn-container:after {
	content: '';
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	left: 0;
	right: -2px;
	bottom: -2px;
	background-color: var(--background);

	box-shadow: 0 0 5px rgba(var(--brand-two-color-rgb) / 0.5),
		0 10px 25px rgba(var(--brand-two-color-rgb) / 0.5),
		0 0 10px rgba(var(--brand-two-color-rgb) / 0.5),
		0 0 50px rgba(var(--brand-two-color-rgb) / 0.5);
	z-index: 1;
	pointer-events: none;
	animation: blink 1.8s infinite linear;

}

@keyframes blink {

	0%,
	100% {
		background-color: var(--background);
		box-shadow:
			0 0 5px rgba(var(--brand-two-color-rgb) / 0.5),
			0 10px 25px rgba(var(--brand-two-color-rgb) / 0.5),
			0 0 10px rgba(var(--brand-two-color-rgb) / 0.5),
			0 0 50px rgba(var(--brand-two-color-rgb) / 0.5);
	}

	50% {
		background-color: rgba(var(--brand-two-color-rgb) / 1);
	}

	25%,
	75% {
		background-color: rgba(var(--brand-color-rgb) / 0.3);

		box-shadow:
			0 0 5px rgba(var(--brand-color-rgb) / 0.3),
			0 10px 25px rgba(var(--brand-color-rgb) / 0.3),
			0 0 50px rgba(var(--brand-color-rgb) / 0.3),
			0 0 50px rgba(var(--brand-color-rgb) / 0.3);
	}
}